.homepage__name {
  font-size: 100%;
  font-size: 4em;
  padding: 100px 0 0 0;

  font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 750px) {
  .homepage__name {
    font-size: 2.4em;
    padding: 50px 0 0 0;
    text-align: center;
  }
}
