.connect__icon-container {
  display: flex;
  width: 100%;
  margin: 45px 0 0 0;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .connect__icon-container {
    width: 100%;
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 970px) {
  .connect__icon-container {
    width: 100%;
  }
}
