.connect__container-text {
  font-size: 55px;
}

@media screen and (max-width: 970px) {
  .connect__container-text {
    display: flex;
    flex-direction: column;
  }
}
.connect__container-header {
  font-size: 3rem;
}
