body {
  margin: 0;
}
.root {
  max-width: 1441px;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;

  /* font-family: 'Roboto Slab', serif; */
}

h1 {
  margin: 0;
}
