.card__caption {
  padding: 0 0 0 15px;
  overflow: hidden;
}

@media screen and (max-width: 769px) {
  .card__caption {
    max-width: 90%;
    min-height: 120px;
  }
}

@media screen and (max-width: 740px) {
  .card__caption {
    max-width: 90%;
    min-height: 120px;
  }
}
