.card__caption {
  max-width: 90%;
  margin: 0 0 0 15px;
}

@media screen and (max-width: 769px) {
  .card__caption {
    max-width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .card__caption {
    max-width: 90%;
  }
}
