.icons {
  /* background-color: black; */
  background-color: #676cdb;

  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .icons {
    height: 130px;
  }
}
