.connect__container {
  width: max-content;
  padding: 100px 0 0;
  margin: 0 0 0 100px;
  overflow: hidden;
  justify-self: flex-start;
}

@media screen and (max-width: 970px) {
  .connect__container {
    margin: 0;
  }
}
